/* Estilo para o container principal */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, #4b6cb7 0%, #182848 100%);
}

/* Estilo para o título */
.title {
  font-size: 85px;
  color: #fff;
  animation: flipTitle 2s;
  text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

/* Animação para o título */
@keyframes flipTitle {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

/* Estilo para o container do campo de input */
.containerInput {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 34px 0;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

/* Estilo para o campo de input */
.containerInput input {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: #fff;
  outline: none;
  margin-right: 8px;
}

/* Estilo para o placeholder do input */
.containerInput input::placeholder {
  color: #f1f1f1;
}

/* Estilo para o botão de pesquisa */
.buttonSearch {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

/* Efeito de hover para o botão de pesquisa */
.buttonSearch:hover {
  transform: scale(1.2);
}

/* Estilo para o container principal */
.main {
  width: 40%;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

/* Estilo para o título dentro do container principal */
.main h2 {
  margin: 16px 0;
  font-size: 40px;
}

/* Estilo para os spans dentro do container principal */
.main span {
  margin-bottom: 16px;
  font-weight: bold;
}

/* Estilo para resolução menor que 620px */
@media (max-width: 620px) {
  .title {
    font-size: 60px;
  }
}

/* Estilo para o título dentro do container principal para resoluções menores */
.main h2 {
  font-size: 28px;
}

/* Estilo para o container de ícones sociais */
.socialIcons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
}

/* Estilo para os links dos ícones sociais */
.socialIcons a {
  margin-right: 10px;
}